<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人信息</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/oldcourse.css">
</head>

<body>
    <div class="header">
        <a href="index.html" class="logo">
            <h1>Logo</h1>
        </a>
        <nav class="navbar">
            <ul>
                <!-- <li><a class="first" href="#">首页</a></li> -->
                <li><a class="next" href="index.html">回到首页</a></li>

                <li><a class="next" href="../admin/login.html">退出登录</a></li>

            </ul>
        </nav>
    </div>
    <div class="view">
        <text>首页/查看历史课堂</text>
    </div>

    <div class="ccontext">
        <div class="min">
            <img src="images/c1.jpg" alt="">
            <p>面向对象软件工程</p>
            <p>叶俊民</p>
            <text style="color: red; font-size:10px;font-weight: bolder;  ">已结课</text>
        </div>
        <div class="min">
            <img src="images/c1.jpg" alt="">
            <p>面向对象软件工程</p>
            <p>叶俊民</p>
            <text style="color: red; font-size:10px;font-weight: bolder;  ">已结课</text>
        </div>
        <div class="min">
            <img src="images/c1.jpg" alt="">
            <p>面向对象软件工程</p>
            <p>叶俊民</p>
            <text style="color: red; font-size:10px;font-weight: bolder;  ">已结课</text>
        </div>
        <div class="min">
            <img src="images/c1.jpg" alt="">
            <p>面向对象软件工程</p>
            <p>叶俊民</p>
            <text style="color: red; font-size:10px;font-weight: bolder;  ">已结课</text>
        </div>


    </div>

</body>

</html>