<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--所有课堂-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人信息</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/creat.css}">
</head>

<body>
    <div class="header" th:replace="/index::header">
        <a href="index.html" class="logo">
            <h1>Logo</h1>
        </a>
        <nav class="navbar">
            <ul>

                <li><a class="next" href="index.html">回到首页</a></li>
                <li><a class="next" href="../admin/login.html">退出登录</a></li>
            </ul>
        </nav>
    </div>
    <div class="view">
        <text>首页/创建班级（课堂）</text>
    </div>

    <div class="creatcontext">
        <form method="post" enctype="multipart/form-data" id="file" onsubmit="return checks()" th:action="@{/upload}">

            <h3 style="margin-top: 20px;">请选择视频</h3>
            <div class="invalid-feedback" th:text="${error}">
                该账号已存在!
            </div>

            <p>
                <input type="file" id="test-video-file" name="file" accept="video/*">
                <input type="number" hidden="hidden" id="_classId" name="_classId" th:value="${classId}">
            </p>
            <p id="test-file-info"></p>
            <input style="background-color: aqua;height: 20px;width: 50px;margin-top: 20px;margin-left: 150px; border: 1px solid rgb(178, 118, 118);" type="submit" value="提交">
        </form>


    </div>


</body>
<script>
    var mark = false;
    var tit = $("#vid").val();

    function checks() {
        if (tit != '') {
            mark = true;
        }

        return mark;
    }
</script>


</html>